@using DddInPractice.UI.ViewModels

@{
    ViewData["Title"] = "ATM";
}


@{
    var viewModel = AtmViewModel.Create();
}
<!DOCTYPE html>
<html>

<head>
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        .col-sm-4 {
            border: groove
        }

        #headerRow {
            text-align: center
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 id="headerRow">ATM Machine</h1>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-8">


            </div>

            <div class="col-sm-10">
                <div class="form-group">

                    <div class="form-group">

                        <b>Money Inside: $</b> <b id="money-inside-lbl">@viewModel.MoneyInside.Amount</b>
                    </div>
                    <div class="form-group">

                        <b>Money Charged: $</b> <b id="money-charged-lbl">@viewModel.MoneyCharged</b>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <img style="height: auto; width: auto; max-width: 99px; max-height: 99px;"
                                src="images/1c.png">
                            <br>
                            <label id="qt_1c" style="margin-left: 40px">@viewModel.MoneyInside.OneCentCount</label>
                        </div>
                        <div class="col">
                            <img style="height: auto; width: auto; max-width: 99px; max-height: 99px;"
                                src="images/10c.png">
                            <br>
                            <label id="qt_10c" style="margin-left: 40px">@viewModel.MoneyInside.OneCentCount</label>
                        </div>
                        <div class="col">
                            <img style="height: auto; width: auto; max-width: 99px; max-height: 99px;"
                                src="images/25c.png">
                            <br>
                            <label id="qt_25c" style="margin-left: 40px">@viewModel.MoneyInside.QuarterCount</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img style="height: auto; width: auto; max-width: 99px; max-height: 99px;"
                                src="images/1d.png">
                            <br>
                            <label id="qt_1d" style="margin-left: 40px">@viewModel.MoneyInside.OneDollarCount</label>
                        </div>
                        <div class="col">
                            <img style="height: auto; width: auto; max-width: 99px; max-height: 99px;"
                                src="images/5d.png">
                            <br>
                            <label id="qt_5d" style="margin-left: 40px">@viewModel.MoneyInside.FiveDollarCount</label>
                        </div>

                        <div class="col">
                            <img style="height: auto; width: auto; max-width: 99px; max-height: 99px;"
                                src="images/20d.png">
                            <br>
                            <label id="qt_20d"
                                style="margin-left: 40px">@viewModel.MoneyInside.TwentyDollarCount</label>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 50px;">
                        <input type="number" class="form-control" id="money-input" min="0" max="1000000" step="0.01" value="0">
                        </br>
                        <button type="button" class="btn btn-secondary form-control col-sm-offset-1"
                            id="take-money-button" style="width:85%">Take Money</button>
                    </div>

                </div>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="js/atm.js"></script>
</body>

</html>