@using DddInPractice.UI.ViewModels

@{
    ViewData["Title"] = "Home Page";
}


@{
    var viewModel = SnackMachineViewModel.Create();
}
<!DOCTYPE html>
<html>

<head>
    <title>Vending Machine Web App</title>
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        .col-sm-4 {
            border: groove
        }

        #headerRow {
            text-align: center
        }

        #money-input {
            margin-left: 25%
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 id="headerRow">Vending Machine</h1>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-8" id="vending-items">


            </div>

            <div class="col-sm-10">
                <div class="form-group">

                    <h2 style="text-align: center">Total $ In the Machine</h2>
                    <input type="text" class="form-control" id="total-money-in" style="text-align:center;" readonly />
                    <br>
                    <div class="row">
                        <div class="col">
                            <img style="height: auto; width: auto; max-width: 99px; max-height: 99px;"
                                src="images/1c.png">
                            <br>
                            <label  id="qt_1c" style="margin-left: 40px">@viewModel.MoneyInside.OneCentCount</label>
                        </div>
                        <div class="col">
                            <img style="height: auto; width: auto; max-width: 99px; max-height: 99px;"
                                src="images/10c.png">
                            <br>
                            <label id="qt_10c" style="margin-left: 40px">@viewModel.MoneyInside.OneCentCount</label>
                        </div>
                        <div class="col">
                            <img style="height: auto; width: auto; max-width: 99px; max-height: 99px;"
                                src="images/25c.png">
                            <br>
                            <label id="qt_25c" style="margin-left: 40px">@viewModel.MoneyInside.QuarterCount</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img style="height: auto; width: auto; max-width: 99px; max-height: 99px;"
                                src="images/1d.png">
                            <br>
                            <label id="qt_1d" style="margin-left: 40px">@viewModel.MoneyInside.OneDollarCount</label>
                        </div>
                        <div class="col">
                            <img style="height: auto; width: auto; max-width: 99px; max-height: 99px;"
                                src="images/5d.png">
                            <br>
                            <label id="qt_5d" style="margin-left: 40px">@viewModel.MoneyInside.FiveDollarCount</label>
                        </div>

                        <div class="col">
                            <img style="height: auto; width: auto; max-width: 99px; max-height: 99px;"
                                src="images/20d.png">
                            <br>
                            <label id="qt_20d" style="margin-left: 40px">@viewModel.MoneyInside.TwentyDollarCount</label>
                        </div>
                    </div>

                    <h2 style="text-align: center">Total $ In Transaction</h2>
                    <input type="text" class="form-control" id="money-input" style="width:50%" readonly />



                    <button type="button" class="btn btn-default" id="add-cent-button" style="width:49%">Add
                        Cent</button>
                    <button type="button" class="btn btn-default" id="add-ten-cent-button" style="width:49%">Add Ten
                        Cent</button>
                    <button type="button" class="btn btn-default" id="add-quarter-button" style="width: 49%">Add
                        Quarter</button>
                    <button type="button" class="btn btn-default" id="add-dollar-button" style="width:49%">Add
                        Dollar</button>
                    <button type="button" class="btn btn-default" id="add-five-dollar-button" style="width:49%">Add Five
                        Dollar</button>
                    <button type="button" class="btn btn-default" id="add-twenty-dollar-button" style="width:49%">Add
                        Twenty Dollar</button>
                </div>
                <hr>

                <div class="form-group">
                    <h2 style="text-align: center">Items</h2>
                    <div class="form-group" style="margin-top: 50px;">
                        <div class="row">
                            <label hidden id="selectedItem"></label>
                            @for (int i = 1; i<= viewModel.Piles.Count; i++)
                            {
                                <div class="col buyableItem" id="@i">
                                    <img style="height: auto; width: auto; max-width: 99px; max-height: 99px; margin-top: 30px; margin-left: 30px"
                                     src="@viewModel.Piles[i-1].Image">
                                    <br>
                                    <label id=@viewModel.Piles[i-1].QuantityLeftLabelId>left: @viewModel.Piles[i-1].Amount</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <hr>
                <div class="form-group">
                    <h2 style="text-align: center">Messages</h2>
                    <input type="text" class="form-control" id="vending-message" readonly />
                    <br>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary form-control col-sm-offset-1" id="purchase-button"
                            style="width:85%; display: none;">Make Purchase</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary form-control col-sm-offset-1"
                            id="return-money-button" style="width:85%">Return the Money</button>
                    </div>
                </div>
                <hr>

                <div class="form-group">
                    <h2 style="text-align:center" id="change-header">Change</h2>
                    <div class="form-group">
                        <input type="text" class="form-control col-md-offset-1 col-sm-6" id="change-input-box"
                            style="width:80%" readonly />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default col-sm-offset-4" id="return-change">Return
                            Change</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/SnackMachine.js"></script>
</body>

</html>